{% extends 'base.html' %}
{% block content %}

  <section class="py-5 text-center container">
  </section>
<div class="container">
<!--  https://mdbootstrap.com/docs/b4/jquery/tables/search/-->
  <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">ФИО
      </th>
      <th class="th-sm">Должность
      </th>
      <th class="th-sm">Код
      </th>
    </tr>
  </thead>
  <tbody>
    {% for i in respons_persons %}
    <tr>
      <td>{{ i.name }}</td>
      <td>{{ i.func }}</td>
      <td>{{ i.code }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>ФИО
      </th>
      <th>Должность
      </th>
      <th>Код
      </th>
    </tr>
  </tfoot>
</table>

</div>

{% endblock %}